@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap');

body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    background-color: #d7cee8;
}

/* HEADER */
header {
    width: 100%;
    background: #000;
    padding: 15px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #a7d0f5;
    font-size: 32px;
    margin: 0;
}

/* BOTÃO MENU */
.menu-btn {
    width: 35px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.menu-btn span {
    display: block;
    height: 5px;
    background: #a7d0f5;
    border-radius: 5px;
}

/* MAIN */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    gap: 60px;
}

.left-icon {
    margin-right: 20px;
}

/* FORMULÁRIO */
.form-box {
    background: white;
    width: 350px;
    padding: 30px;
    border: 2px solid #ccc;
    text-align: center;
}

.form-box h2 {
    margin-bottom: 20px;
    font-size: 26px;
}

input {
    width: 90%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 6px;
    border: 2px solid #ddd;
    font-size: 16px;
}

button {
    width: 90%;
    padding: 12px;
    font-size: 18px;
    background: #7db2e0;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    margin-top: 10px;
}
